body {

  margin: 0;
  background-color: #476618;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

Игры {
  font-weight: 900;
}
il {
  font-weight: 500;
}
